


h1 {
    margin-bottom: 60px;
    font-size: 70px;
    color:blue;
    text-align: center;
}

h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
    text-align: center;
}

#box {
    width: 100%;
    overflow: auto;
    clear: both;
    color: #fff;
    background: yellow;
  }
